
.direita{
    width: 330px; 
    height: 200px;
    border: solid;
    float: left ;
    margin-left: 90px;
    text-align: center
    
}

.esquerda{
    margin-right:300px;
    width:570px;
    height: 200px;
    border: solid;
    float: right;
    text-align: center;   
}

.corpo{
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 200px;
     width: 950px;
    height: 300px;
    border: solid;
    float: left; 
 
    
}
.meio{
    margin-top: -195px;
    margin-left: 90px;
    margin-right: 250px;
    width: 300px;
    height: 208px;
    float: right; 
    text-align: left;
}


.rodape{
    margin-top: 500px; 
    margin-left: 90px;
    margin-right: 200px;
    width: 950px;
    height: 50px;
    border: solid;
    float: center;
   text-align: right;
}